

<div class="modal-content">
  <div class="modal-header">
      <h1 class="modal-title fs-5" id="altaCliente">
          Alta cliente
      </h1>
      <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal"
          aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          <div class="row">
              <div class="input-group mb-3">
                  <span class="input-group-text">Nombre/s y Apellido/s</span>
                  <input type="text" aria-label="nombre" class="form-control">
                  <input type="text" aria-label="apellido" class="form-control">
              </div>
          </div>

          <div class="row">
              <div class="input-group mb-3">
                  <span class="input-group-text">Dirección</span>
                  <input type="text" aria-label="direccion" class="form-control">
              </div>
          </div>


          <div class="row">
              <div class="col-md-6">
                  <div class="input-group mb-3">
                      <span class="input-group-text">DNI</span>
                      <input type="text" aria-label="dni" class="form-control">
                  </div>
              </div>

              <div class="col-md-6 ms-auto">
                  <div class="input-group mb-3">
                      <span class="input-group-text">Teléfono</span>
                      <input type="text" aria-label="telefono" class="form-control">
                  </div>
              </div>

              <div class="row"></div>
                  <div class="input-group mb-3">
                      <span class="input-group-text">Email</span>
                      <input type="text" aria-label="email" class="form-control">
                  </div>

              </div>
          </div>

      </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-outline-success" data-bs-target="#Modal"
          data-bs-toggle="modal">
          Guardar
      </button>
  </div>
